.container{
    display: flex;
    flex-direction: column;
   align-items: center;
   margin: 10px 0; 
   line-height: 1.6;
}
.form{
    display: flex;
    flex-direction: column;
   align-items: center;
   margin: 10px 0; 
   line-height: 1.6;
   gap: 1rem; 
}

